*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
 .container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    background: crimson;
}
h1{
    font-style: normal;
    font-size: bold;
    color: rgb(65, 102, 222);
    padding-left: 5%;
    padding-right: 5%;
}
h2{
    padding: 5%;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 5%;
    padding-right: 5%;
}
h3{
    padding: 0.5px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 5%;
    padding-right: 5%;  
}
p{
    font-size: bold;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Times New Roman', Times, serif;
}
.botton a{
    display: inline-block;
    padding: 10px 50px;
    padding-right: 5%;
    padding-left: 5%;
    background: orange;
    border-radius: 30px;
    text-decoration: none;
    color: red;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 800;
    transition: all 0.5s ease;
}
.button a:hover{
    background: gray;
    color: aliceblue;
    padding-right: 5%;
    padding-left: 5%;
}
img{
    width: 50vw;
    height: 100vh;
    display: block;
    object-fit: cover;
    object-position: center;
}